@model ClinicSystem.WebApplication.Models.BookVisitSecondStepViewModel

@{
    ViewBag.Title = "Umawianie wizyty";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("BookVisitSecondStep", "Visit", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Umów wizytę w jednej z przychodni Luxcover</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.ClinicId)
    <div class="form-group">
        @Html.LabelFor(m => m.DateFrom, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DateFrom, new { @class = "form-control", placeholder = "rrrr-MM-dd HH:mm" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Minutes, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Minutes, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UnitId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.UnitId,
                new SelectList(Model.UnitDtos, "UnitId", "UnitName"),
                "Wybierz oddział...",
                new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" align="right">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Umów wizytę" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
