@model ClinicSystem.WebApplication.Models.ExaminationIndexViewModel

@{
    ViewBag.Title = "Wizyty i badania";
}

<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zarządzanie danymi wizyt i badań</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (User.IsInRole("DOCTOR") || User.IsInRole("ADMINISTRATOR") || User.IsInRole("MANAGER"))
        {
            <dt>Słowniki:</dt>
            <dd>
                [ @Html.ActionLink("Wyświetl słownik chorób", "Diseases") ]
            </dd>
            <dd>
                <br />
            </dd>
            if (!string.IsNullOrEmpty(Model.UnitName))
            {
                <dt>Wizyty na oddziale @Model.UnitName:</dt>
            }
            else
            {
                <dt>Wizyty na wszystkich oddziałach:</dt>
            }
            <dd>
                @if (Model.UnitVisitDtos.Any())
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Data od</th>
                                <th>Data do</th>
                                <th>Pacjent</th>
                                <th>Pesel</th>
                                <th>Adres</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var visit in Model.UnitVisitDtos)
                            {
                                <tr>
                                    <td>@visit.DateFrom</td>
                                    <td>@visit.DateTo</td>
                                    <td>@visit.PersonName</td>
                                    <td>@visit.PersonPesel</td>
                                    <td>@visit.PersonAddress</td>
                                    <td>@Html.ActionLink("Szczegóły", "VisitDetails", new { visitId = visit.Id }, null)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>Brak</p>
                }
            </dd>
        }
        else if (User.IsInRole("PATIENT"))
        {
            <dt>Moje wizyty:</dt>
            <dd>
                @if (Model.PatientVisitDtos.Any())
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Data od</th>
                                <th>Data do</th>
                                <th>Pesel</th>
                                <th>Adres</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var visit in Model.PatientVisitDtos)
                            {
                                <tr>
                                    <td>@visit.DateFrom</td>
                                    <td>@visit.DateTo</td>
                                    <td>@visit.PersonPesel</td>
                                    <td>@visit.PersonAddress</td>
                                    <td>@Html.ActionLink("Szczegóły", "VisitDetails", new { visitId = visit.Id }, null)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>Brak</p>
                }
            </dd>
        }
        <dt>Moje diagnozy:</dt>
        <dd>
            @if (Model.PatientDiagnoses.Any())
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Diagnoza</th>
                            <th>Choroba</th>
                            <th>Nazwa przychodni</th>
                            <th>Adres przychodni</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patientDiagnose in Model.PatientDiagnoses)
                        {
                            <tr>
                                <td>@patientDiagnose.DIAGNOSE</td>
                                <td>@patientDiagnose.DISEASE.CODE</td>
                                <td>@patientDiagnose.PATIENT_VISIT.CLINIC.NAME</td>
                                <td>@patientDiagnose.PATIENT_VISIT.CLINIC.ADDRESS</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Brak</p>
            }
        </dd>
    </dl>
</div>
