@model ClinicSystem.WebApplication.Models.VisitDetailsViewModel

@{
    ViewBag.Title = "Szczegóły wizyty";
}

<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Dane wizyty:</h4>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Imię i nazwisko</th>
                <th>Adres</th>
                <th>PESEL</th>
                <th>Data rozpoczęcia wizyty</th>
                <th>Data zakończenia wizyty</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.VisitDto.PersonName</td>
                <td>@Model.VisitDto.PersonAddress</td>
                <td>@Model.VisitDto.PersonPesel</td>
                <td>@Model.VisitDto.DateFrom</td>
                <td>@Model.VisitDto.DateTo</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <h4>Diagnozy:</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Diagnoza</th>
                <th>Choroba</th>
                <th>Opis choroby</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patientDiagnose in Model.PatientDiagnoses)
            {
                <tr>
                    <td>@patientDiagnose.DIAGNOSE</td>
                    <td>@patientDiagnose.DISEASE.CODE</td>
                    <td>@patientDiagnose.DISEASE.CODE_DESCRIPTION</td>
                </tr>
            }
        </tbody>
    </table>
    <h4>Badania:</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nazwa badania</th>
                <th>Koszt</th>
                <th>Wykonujący badanie</th>
                <th>Data badania</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var diagnostic in Model.Diagnostics)
            {
                <tr>
                    <td>@diagnostic.EXAMINATION.EXAMINATION_NAME</td>
                    <td>@diagnostic.EXAMINATION.COST</td>
                    <td>@(diagnostic.EMPLOYEE.PERSON.NAME + " " + diagnostic.EMPLOYEE.PERSON.LAST_NAME)</td>
                    <td>@diagnostic.EXAMINATION_DATE.ToString("d")</td>
                </tr>
            }
        </tbody>
    </table>
    <h4>Przepisane leki:</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Dawka</th>
                <th>Data leczenia</th>
                <th>Nazwa</th>
                <th>Składniki</th>
                <th>Koszt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var medicine in Model.Medicines)
            {
                <tr>
                    <td>@medicine.DOSE</td>
                    <td>@medicine.TREATMENT_DATE</td>
                    <td>@medicine.MEDICINE_ORDER.MEDICINE_TYPE.MEDICINE_NAME</td>
                    <td>@medicine.MEDICINE_ORDER.MEDICINE_TYPE.ACTIVE_INGREDIENT</td>
                    <td>@medicine.MEDICINE_ORDER.COST</td>
                </tr>
            }
        </tbody>
    </table>
    @if (User.IsInRole("DOCTOR") || User.IsInRole("ADMINISTRATOR") || User.IsInRole("MANAGER"))
    {
        <hr />
        <h4>Operacje:</h4>
        <br />
        @Html.ActionLink("Diagnozuj", "AddDiagnose", "Examination", routeValues: new { visitId = Model.VisitDto.Id }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
        <br />
        <br />
        @Html.ActionLink("Wykonaj badanie", "AddExamination", "Examination", routeValues: new { visitId = Model.VisitDto.Id }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
        <br />
        <br />
        @Html.ActionLink("Przepisz lekarstwo", "AddPatientMedicine", "Examination", routeValues: new { visitId = Model.VisitDto.Id }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
    }
</div>
