@model ClinicSystem.WebApplication.Models.AddUnitPlanViewModel

@{
    ViewBag.Title = "Dodaj plan budżetu";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddUnitPlan", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Formularz dodawania planu budżetu dla przychodni</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UnitId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.UnitId,
                new SelectList(Model.UnitDtos, "UnitId", "UnitName"),
                "Wybierz oddział...",
                new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DateFrom, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DateFrom, new { @class = "datepicker, form-control", @type = "date" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DateTo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DateTo, new { @class = "datepicker, form-control", @type = "date" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BudgetType, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.BudgetType, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Value, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Value, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zapisz" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}