@model ClinicSystem.WebApplication.Models.AddUnitViewModel

@{
    ViewBag.Title = "Dodaj oddział";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddUnit", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Formularz dodawania oddziału do przychodni</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.ClinicId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ClinicId,
                new SelectList(Model.Clinics, "ID", "NAME"),
                "Wybierz przychodnię...",
                new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UnitTypeId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.UnitTypeId,
                new SelectList(Model.UnitTypes, "ID", "UNIT_NAME"),
                "Wybierz oddział...",
                new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ParentUnitTypeId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ParentUnitTypeId,
                new SelectList(Model.ParentUnitTypes, "ID", "UNIT_NAME"),
                "Wybierz oddział nadrzędny...",
                new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zapisz" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}