@model ClinicSystem.WebApplication.Models.ManageIndexViewModel
@{
    ViewBag.Title = "Zarządzanie kontem";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zarządzanie danymi konta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword")
            }
            ]
        </dd>
        <dd>
            <br />
        </dd>
        @if (User.IsInRole("MANAGER") || User.IsInRole("ADMINISTRATOR"))
        {
            <dt>Zarejestrowani użytkownicy:</dt>
            <dd>
                @if (Model.Users.Any(e => e.ASPNETUSERS.ASPNETROLES.All(q => q.NAME != "ADMINISTRATOR")))
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Imię</th>
                                <th>Nazwisko</th>
                                <th>Login</th>
                                <th>Pesel</th>
                                <th>Rola</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var user in Model.Users.Where(e => e.ASPNETUSERS.ASPNETROLES.All(q => q.NAME != "ADMINISTRATOR")))
                            {
                                <tr>
                                    <td>@user.NAME</td>
                                    <td>@user.LAST_NAME</td>
                                    <td>@user.ASPNETUSERS.USERNAME</td>
                                    <td>@user.PESEL</td>
                                    @{
                                        var roleName = user.ASPNETUSERS.ASPNETROLES.SingleOrDefault()?.NAME;

                                        if (roleName != null)
                                        {
                                            <td>@roleName</td>
                                        }
                                        else
                                        {
                                            <td>Nieznana</td>
                                        }
                                    }
                                    <td>@Html.ActionLink("Zarejestruj/edytuj pracownika", "RegisterEmployee", new { personId = user.ID }, null)</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }
                else
                {
                    <p>Brak</p>
                }
            </dd>
            <dd>
                <br />
            </dd>
            <dt>Operacje:</dt>
            <dd>
                @Html.ActionLink("Dodaj przychodnię", "AddClinic", "Manage", htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
                @Html.ActionLink("Dodaj oddział dla przychodni", "AddUnit", "Manage", htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
                @Html.ActionLink("Dodaj typ oddziału", "AddUnitType", "Manage", htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
                @Html.ActionLink("Dodaj stanowisko pracownika", "AddEmplacement", "Manage", htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
            </dd>
        }
    </dl>
</div>
