@using Microsoft.AspNet.Identity
@model ClinicSystem.WebApplication.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzanie kontem";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zarządzanie danymi konta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Dodaj hasło", "SetPassword")
            }
            ]
        </dd>
        <dd>
            <br />
        </dd>
        @if (User.IsInRole("Administrator"))
        {
            <dt>Zarejestrowani użytkownicy:</dt>
            <dd>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Imię</th>
                            <th>Nazwisko</th>
                            <th>Pesel</th>
                            <th>Rola</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Users.Any())
                        {
                            foreach (var user in Model.Users)
                            {
                                <tr>
                                    <td>@user.NAME</td>
                                    <td>@user.LAST_NAME</td>
                                    <td>@user.PESEL</td>

                                    @{
                                        var roleName = user.ASPNETUSERS.ASPNETROLES.SingleOrDefault()?.NAME;

                                        if (roleName != null)
                                        {
                                            <td>@roleName</td>
                                        }
                                        else
                                        {
                                            <td>Nieznana</td>
                                        }
                                    }

                                    <td>@Html.ActionLink("Edytuj", "Edit", "RoleEdit", new { personId = user.ID }, null)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </dd>
        }
    </dl>
</div>
