@using GridMvc.Html
@model ClinicSystem.WebApplication.Models.ManageIndexViewModel
@{
    ViewBag.Title = "Zarządzanie kontem";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zarządzanie danymi konta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword")
            }
            ]
        </dd>
        <dd>
            <br />
        </dd>
        @if (User.IsInRole("DOCTOR") || User.IsInRole("MANAGER") || User.IsInRole("ADMINISTRATOR"))
        {
            <dt>Słowniki:</dt>
            <dd>
                [ @Html.ActionLink("Wyświetl słownik chorób", "Diseases") ]
            </dd>
        }
        @if (User.IsInRole("MANAGER") || User.IsInRole("ADMINISTRATOR"))
        {
            <dd>
                [ @Html.ActionLink("Wyświetl plany budżetowe", "UnitPlans") ]
            </dd>
            <dd>
                [ @Html.ActionLink("Wyświetl przychodnie i oddziały", "Clinics") ]
            </dd>
            <dd>
                <br />
            </dd>
            <dt>Zarejestrowani użytkownicy:</dt>
            <dd>
                @if (Model.RegisteredUsers.Any())
                {
                    @Html.Grid(Model.RegisteredUsers).Columns(columns =>
                    {
                        columns.Add(c => c.Name).Titled("Imię");
                        columns.Add(c => c.LastName).Titled("Nazwisko");
                        columns.Add(c => c.UserName).Titled("Login");
                        columns.Add(c => c.Pesel).Titled("PESEL");
                        columns.Add(c => c.RoleName).Titled("Rola");
                        columns.Add(c => c.EmplacementName).Titled("Stanowisko");
                        columns.Add(c => c.ClinicName).Titled("Przychodnia");
                        columns.Add(c => c.SupervisorName).Titled("Przełożony");
                        columns.Add().Sanitized(false).Encoded(false).RenderValueAs(user => Html.ActionLink("Zarejestruj/edytuj pracownika", "RegisterEmployee", new { personId = user.PersonId }, null).ToHtmlString());
                    }).WithPaging(10).Sortable(true).Filterable(true)
                }
                else
                {
                    <p>Brak</p>
                }
            </dd>
            <dd>
                <br />
            </dd>
            <dd>
                <div align="right">
                    @Html.ActionLink("Dodaj stanowisko", "AddEmplacement", "Manage", htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
                </div>
            </dd>
        }
    </dl>
</div>
